<div id="<%= dom_id rail_friend %>">
  <p>
    <strong>First name:</strong>
    <%= rail_friend.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= rail_friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= rail_friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= rail_friend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= rail_friend.twitter %>
  </p>

</div>
